:root {
    --pink-50: #fff4ff;
    --pink-100: #ffe7ff;
    --pink-200: #ffcefe;
    --pink-300: #ff91f9;
    --pink-400: #fe74f5;
    --pink-500: #f540e7;
    --pink-600: #d920c8;
    --pink-700: #b417a2;
    --pink-800: #931582;
    --pink-900: #781769;
    --pink-950: #510146;
    --yellow-50: #fbfee8;
    --yellow-100: #f8ffc2;
    --yellow-200: #f4ff8c;
    --yellow-300: #f5ff45;
    --yellow-400: #f9fc13;
    --yellow-500: #ece606;
    --yellow-600: #ccb702;
    --yellow-700: #a28406;
    --yellow-800: #86670d;
    --yellow-900: #725411;
    --yellow-950: #432d05;
    --light-blue-50: #ebfffe;
    --light-blue-100: #cdfeff;
    --light-blue-200: #92fbff;
    --light-blue-300: #62f6fe;
    --light-blue-400: #1be7f5;
    --light-blue-500: #00cadb;
    --light-blue-600: #02a1b8;
    --light-blue-700: #0a8094;
    --light-blue-800: #126778;
    --light-blue-900: #135566;
    --light-blue-950: #063846;
    --gray-50: #d7d7db;
    --gray-100: #c6c8cd;
    --gray-200: #b1b3b9;
    --gray-300: #8f9099;
    --gray-400: #666870;
    --gray-500: #4d4e56;
    --gray-600: #3d3d43;
    --gray-700: #303036;
    --gray-800: #27282a;
    --gray-900: #202022;
    --gray-950: #0a0a0b;
    --blue-ribbon-50: #ecf2ff;
    --blue-ribbon-100: #dde8ff;
    --blue-ribbon-200: #c2d4ff;
    --blue-ribbon-300: #9cb5ff;
    --blue-ribbon-400: #758cff;
    --blue-ribbon-500: #4e5fff;
    --blue-ribbon-600: #3639f5;
    --blue-ribbon-700: #2a2ad8;
    --blue-ribbon-800: #2527ae;
    --blue-ribbon-900: #262a89;
    --blue-ribbon-950: #161650;
    --green-50: #edffed;
    --green-100: #d5ffd7;
    --green-200: #aeffb2;
    --green-300: #6fff77;
    --green-400: #4eff55;
    --green-500: #00e908;
    --green-600: #00c203;
    --green-700: #009806;
    --green-800: #04770b;
    --green-900: #06610c;
    --green-950: #003702;
    --white: #ffffff;
}