<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/Guexit/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="pablocom" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>