@page
@model Guexit.IdentityProvider.WebApi.Pages.Account.Login.Index

<div class="login-page">
    
    <div class="flex text-center m-5">
        <img src="~/guexit-logo.svg" alt="Guexit">
    </div>
    
    <partial name="_ValidationSummary" />

    <div class="row">

        @if (Model.View.EnableLocalLogin)
        {
            <div class="col-sm-6">
                <div class="card-body">
                    <form asp-page="/Account/Login/Index">
                        <input type="hidden" asp-for="Input.ReturnUrl" />

                        <div class="form-group">
                            <label asp-for="Input.Username">Email</label>
                            <input class="form-control bold-text login-input" placeholder="Enter your email..." asp-for="Input.Username" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input type="password" class="form-control bold-text login-input" placeholder="Password" asp-for="Input.Password" class="bold-text" autocomplete="off">
                        </div>

                        <div class="row g-2">
                            <div class="col-6">
                                <button class="button primary-button bold-text btn-block" id="Button_Login" name="Input.Button" value="login">Login</button>
                            </div>
                            <div class="col-6">
                                <button class="button secondary-button bold-text btn-block" name="Input.Button" value="cancel">Sign Up</button>
                            </div>
                        </div>


                        @if (Model.View.AllowRememberLogin)
                        {
                            <div class="form-group mt-3">
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="Input.RememberLogin">
                                    <label class="form-check-label bold-text small" asp-for="Input.RememberLogin">
                                        Remember this device
                                    </label>
                                </div>
                            </div>
                        }
                    </form>
                </div>    
            </div>
        }
        
        @if (Model.View.VisibleExternalProviders.Any())
        {
            <div class="col-sm-6 divider-with-text mb-3">
                <span class="divider-line"></span>
                <span class="divider-text small">or continue with</span>
                <span class="divider-line"></span>
            </div>

            <div class="social-buttons">
                <div class="card-body">
                    <ul class="list-inline">
                        @foreach (var provider in Model.View.VisibleExternalProviders)
                        {
                            <li class="list-inline-item">
                                <a class="btn btn-secondary"
                                   asp-page="/ExternalLogin/Challenge"
                                   asp-route-scheme="@provider.AuthenticationScheme"
                                   asp-route-returnUrl="@Model.Input.ReturnUrl">
                                    @provider.DisplayName
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }

        @if (!Model.View.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this request.
            </div>
        }
    </div>
</div>