@page
@using Microsoft.Extensions.Localization
@model Guexit.IdentityProvider.WebApi.Pages.Account.AccessDeniedModel
@inject IStringLocalizer<Guexit.IdentityProvider.WebApi.Pages.Account.AccessDeniedModel> Localizer
@{
}
<div class="row">
    <div class="col">
        <h1>@Localizer["AccessDeniedTitle"]</h1>
        <p>@Localizer["AccessDeniedMessage"]</p>
    </div>
</div>